@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";
@import 'uploadthing/tw/v4';
@source "../node_modules/uploadthing/react/dist";
@custom-variant dark (&:is(.dark *));

@layer utilities {
  .btn-hover-affect {
    @apply from-primary via-primary/60 to-primary bg-transparent bg-gradient-to-r [background-size:200%_auto] hover:bg-transparent hover:bg-[99%_center];
  }

  .container {
    @apply max-w-7xl mx-auto px-6;
  }

  .hero-container {
    @apply max-w-7xl mx-auto px-6 py-12 sm:py-16 lg:py-20;
  }

  .section-spacing {
    @apply py-12 sm:py-16 lg:py-20;
  }

  .hero-section-spacing {
    @apply pt-26 pb-12 sm:pt-28 sm:pb-14 lg:pt-30 lg:pb-16;
  }

  .section-after-header {
    @apply pb-10 sm:pb-16 lg:pb-24 pt-32 sm:pt-36 lg:pt-40;
  }
  .input {
    @apply focus-visible:ring-primary focus-visible:border-primary aria-invalid:ring-destructive/20 aria-invalid:border-destructive;
  }
}

@theme {
  --color-instructor-dialog-gradient: linear-gradient(
    to bottom,
    #2980b9,
    #6dd5fa,
    #ffffff
  );
  --breakpoint-8xl: 1440px;
  --color-primary-hover: #295959;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-ripple: ripple var(--duration, 3s) ease calc(var(--i, 0) * 0.2s)
    infinite;
  --animate-marquee-horizontal: marquee-horizontal var(--marquee-duration)
    infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--marquee-duration) infinite
    linear;
  @keyframes ripple {
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
  @keyframes marquee-horizontal {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--marquee-gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--marquee-gap)));
    }
  }
  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #093b3b;
  --card: #ffffff;
  --card-foreground: #093b3b;
  --popover: #ffffff;
  --popover-foreground: #093b3b;
  --primary: #136e61;
  --primary-foreground: #ffffff;
  --secondary: #e8f6f3;
  --secondary-foreground: oklch(37.2% 0.044 257.287);
  --muted: #f5f5f5;
  --muted-foreground: #6b7280;
  --accent: #e8f6f3;
  --accent-foreground: #093b3b;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #136e61;
  --chart-1: #136e61;
  --chart-2: #093b3b;
  --chart-3: #e8f6f3;
  --chart-4: #6dd5fa;
  --chart-5: #2980b9;
  --sidebar: #ffffff;
  --sidebar-foreground: #093b3b;
  --sidebar-primary: #136e61;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e8f6f3;
  --sidebar-accent-foreground: #093b3b;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: #136e61;
  --rnf-shadow-md: 0px 8px 30px rgba(0, 0, 0, 0.12);
}

.rnf-avatar__image {
  background-color: #ffffff;
  object-fit: cover;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'UAESymbol';
  src:
    ,
    url('/fonts/uae.symbol.ttf') format('truetype');
}

.dirham-symbol {
  font-family: 'UAESymbol', sans-serif;
  font-size: inherit;
  color: inherit;
}

/* Loading Screen */
.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
  z-index: 200;
}

.loader:before {
  content: '';
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--primary);
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow:
    0 5px 0 black,
    -35px 50px 0 black,
    -70px 95px 0 black;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow:
      0 10px 0 rgba(0, 0, 0, 0),
      0 10px 0 black,
      -35px 50px 0 black,
      -70px 90px 0 black;
  }

  100% {
    box-shadow:
      0 10px 0 black,
      -35px 50px 0 black,
      -70px 90px 0 black,
      -70px 90px 0 rgba(0, 0, 0, 0);
  }
}

/* Mutating Loader */
.mutate-loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--foreground);
  letter-spacing: 0.2em;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: currentColor;
    position: absolute;
    animation: mutate-load 0.7s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@keyframes mutate-load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background-color: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background-color: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid #ccc;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
  }
}
